html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body{
    /*background: black;*/
}



.first_block{
    width: 100%;
    background-image: url("/img/background.png");
    background-size: cover;
    /*height: 1000px;*/
}

.center{
    /*width: 1143px;*/
    margin: 0 auto;
}
.menu_icon{
    /*display: inline-block !important;*/
    background-image: url("/img/menu_icon.png");
    width: 20px;
    height: 12px;
}
.first_block_menu{
    width: 273px;
    height: 15px;

}


.first_block_help{
    width: 288px;
    height: 42px;
    /*margin-left: 224px;*/
}
.first_block_navigate{
    display: flex;
    padding-top: 44px;
    align-items: center;
    justify-content: space-between;
}
/*.first_block_navigate>div{*/
    /*border: 1px solid red;*/
/*}*/
.list_menu li{
    display: inline-block;
}
 li a{
     color: #26272d;
     text-decoration: none;
 }
 li a:hover{
    color: #1b1c1e;
    opacity: 0.4;
    text-decoration: none;
}
.list_menu li:nth-child(2){
    margin-left: 26px;
}
.list_menu li:nth-child(3){
    margin-left: 32px;
}
.list_menu li:last-child{
    margin-left: 36px;
}

.first_block_logo{
    background-image: url("/img/logo.png");
    width: 140px;
    height: 13px;
    /*margin-left: 242px;*/
}
.first_block_logo a{
    display: block;
    width: 100%;
    height: 100%;
}
li a{
    text-transform: capitalize;
}

.list_menu_2 li:nth-child(2) {
    margin-left: 31px;
}
.app-get {
    margin-left: 30px;
    width: 132px;
    height: 42px;
    border-radius: 21px;
    background-image: url("/img/button.png");
}
.app-get a{
    display: block;
    width: 100%;
    height: 100%;
    color: white;

}
.app-get a:hover{
    color: white;

}
.list_menu_2{
    width: 288px;
    display: flex;
    align-items: center;
}

h1{
    color: #26272d;
    font-family: "Varela Round";
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    margin-top: 116px;
}
.h1_content{
    color: #8c8f94;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    width: 780px;
    margin: 40px auto 0 auto;
    text-align: center;
}
.watch_video{
    /*position: relative;*/
    width: 205px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #edf0f2;
    background: none;
    margin: 62px auto 0 auto;

}
.watch_video div{
    color: #000;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;

}
.watch_video div:before{
    margin-right: 15px;
    content: '';
    display: inline-flex;
    background-image: url(/img/play_Icon.png);
    width: 10px;
    height: 10px;
}
.watch_video a{
    /*display: block;*/
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.iphone-6{
    background: url("/img/iPhone_6.png");
    width: 473px;
    height: 466px;
    margin: 55px auto 0 auto;
}
/*----------------- part2 ------------*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
.container{
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 122px;
}
.lock,.clock{
    width: 500px;

}
.lock-mg{
    background: url("/img/lock_Icon.png");
    width: 42px;
    height: 51px;
}
.clock-mg{
    background: url("/img/clock_Icon.png");
    width: 41px;
    height: 47px;
}
.clock{
    margin-left: 111px;
}

.lock-mg h2{
    color: #26272d;
    font-family: Lato;
    font-size: 26px;
    font-weight: 300;
    line-height: 34px;
    margin-top: 45px;
}
.content{
    margin: 48px 0 0 ;
    color: #8c8f94;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.content p:nth-child(2),.your-day-content p:nth-child(2){
    margin-top: 45px;
}
.iphone-6-2{
    background: url("/img/iPhone_6-2.png");
    width: 905px;
    height: 877px;
    position: relative;
    background-position: -126px;
}
.your-day{
    margin: 253px auto 0 auto;
    display: flex;
    justify-content: center;
    /*width: 1600px;*/

}

.your-day-content{
    color: #8c8f94;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    width: 470px;
    margin-top: 73px;
}
.your-day-buttons{
    margin-top: 75px;
    display: flex;
}
.buton-try{
    background: url("/img/button-try-to-hack-us.png");
    width: 202px;
    height: 42px;
}
.button-lean{
    background: url("/img/learn-more.png");
    width: 142px;
    height: 42px;
    margin-left: 20px;
}
.buton-try a, .button-lean a{
    display: block;
    width: 100%;
    height: 100%;
}
.test-button{
    background: blueviolet;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
}
.test-button a{
    border-radius: inherit;

    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
.test-button a:hover{
    color: yellow;
    background: green;
}
.your-day-description h2{
    color: #26272d;
    font-family: "Varela Round";
    font-size: 42px;
    font-weight: 400;
    line-height: 52px;
}